html,
body {
    height: 100%;
    margin: 0;
}

.notes {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes__sidebar {
    flex-basis: 30%;
    padding: 1em;
    overflow-y: auto;
    height: 100vh;
    border-right: 2px solid #dddddd;
}


.notes__preview {
    flex-basis: 70%;
}